body, html {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

#video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.quiz-container {
  width: 1200px;
  height: 80vh;
  padding: 20px;
  position: relative;
  z-index: 1;
  
}

.hidden {
  display: none;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

#results-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 10px;
  text-align: center;
  width: 80%;
  max-width: 600px;
}
/* Animation for the Quiz Title */
#quiz-title {
  font-size: 90px;
  text-align: center;
  color: #333;
  animation: bounce 1s infinite alternate;
}


@keyframes bounce {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

/* Styles for other elements */
h2 {
  font-size: 40px;
}

#question-container {
  margin-bottom: 25px;
}

#question-text {
  font-size: 30px;
  margin-bottom: 10px;
}

#answer-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
#top-right-image {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 150px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  z-index: 10; /* Ensure it appears above other elements */
   border-radius: 80px;
}

button {
  width: 190px;
  height: 90px;
  font-size: 25px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(230, 230, 230);
}

#controls-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#start-button {
  margin-top: 20px;
}

#timer-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  bottom: 60px;
  left: 170px;
}

#timer-text {
  font-size: 30px;
   /*color: #ffffff;*/
}

#timer {
  font-weight: bold;
  margin-left: 10px;
}
